.layout {

  & > div {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 100px;
    padding-bottom: 20px;
    height: calc(100vh - 80px);

    overflow-y: auto;

    .content-wrapper {
      width: 700px;
    }
  }

  @media only screen and (max-width: 1024px) {
    & > div .content-wrapper {
      width: 100%;
      padding: 10px;
    }
  }
}